ion-label {
  h2 {
    color: rgb(95, 94, 94);
  }
}

ion-item {

  margin-top: 1rem;
  ion-label {
    h2 {
      margin-left: 1rem;
      font-family: 'Roboto';

      color: rgb(90, 87, 87);
    }
  }

  ion-icon {
    color: rgb(180, 84, 84);
  }

  #iconblanco {
    color: white;
  }
}

ion-content {
  #fuegoimagen {
    z-index: -1;
    opacity: 0.6;


  }
  --background-color: rgb(252, 146, 65);
}


