<ion-app>
  <ion-menu side="start" type="overlay"  menuId="menuapp" contentId="main">
    <ion-header class="ion-no-border">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div style="text-align: center; margin-top: 1rem;">
              <img src="../../../assets/imagenes/log-fuegopicante.png" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-toolbar>

      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-list-header color="danger">
          <ion-item color="danger" style="text-align: start;" >
            <ion-icon id="iconblanco" size="large" name="person-circle-outline"></ion-icon>
            <ion-label style="margin-left: 5px;">{{userlogged.nombre}}</ion-label><br>
          </ion-item>
        </ion-list-header>
      </ion-list>




     <ion-list style="margin-top: 50px;" >
      <ion-item lines="none" detail button >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>
          <h2>Admin</h2>

        </ion-label>
      </ion-item>

      <ion-item lines="none" detail button (click)="products()" >
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>
          <h2>Menus</h2>

        </ion-label>
      </ion-item>

      <ion-item lines="none" detail button (click)="deals()" >
        <ion-icon name="pricetags-outline"></ion-icon>
        <ion-label>
          <h2>Deals</h2>
        </ion-label>
      </ion-item>



      <ion-item lines="none" detail button (click)="sideOrders()" >
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>
          <h2>Side Orders</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail button (click)="verCategorias()"  >
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>
          <h2>Categorias</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail button (click)="tipomenu()"  >
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>
          <h2>Tipos de menu</h2>
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail button (click)="verPedidos()"  >
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>
          <h2>Pedidos</h2>
        </ion-label>
      </ion-item>

     </ion-list>
     <img id="fuegoimagen" src="../assets/imagenes/fuego1.jpg" alt="">


    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
