<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-button size="small" (click)="verProductos()">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <ion-label>Agregar productos</ion-label>
      </ion-button>

    </ion-card-subtitle>
    <ion-card-title>Formulario de nuevo pedido</ion-card-title>
  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>
