ion-row {
  ion-col #editarproducto {
    ion-button {
      color: white  !important;
    }
  }
}

.btneditarproduct {
  color: white  !important;
}

ion-card-subtitle{
  font-family: 'Baloo 2', cursive;
}

ion-card-title {
  font-family: 'Montserrat';
}
