<ion-searchbar [(ngModel)]="texto" placeholder="Search product" i type="text"  [debounce]="250" showCancelButton="always"></ion-searchbar>
<ion-grid fixed *ngIf="products.length > 0">
  <ion-row>
    <ion-col *ngFor="let product of products | searchproducts: texto"  size-md="6" size-lg="6" size-sm="12" size-xs="12">
     <ion-card mode="ios">
       <ion-grid fixed>
         <ion-row>
           <ion-col size="4" >
            <img style="margin-top: 25px;"  *ngIf="product.image.length > 0"  src="{{urlproducts}}{{product.image}}" />
            <img style="display: block;  margin-top:150px;" *ngIf="product.image.length == 0"  src="./../.././../../assets/imagenes/notimage.png" alt="">
           </ion-col>
           <ion-col size="8">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-card-header>
                    <ion-card-subtitle>{{product.nombre}}</ion-card-subtitle>
                    <ion-card-title>$ {{product.precio}}</ion-card-title>
                  </ion-card-header>
                </ion-col>
              </ion-row>

            </ion-grid>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col size="12">
            <ion-button *ngIf="estado==='edicion'" size="small" class="btneditarproduct" color="warning" style="color: white !important;" (click)="editarProduct(product)" expand="block" fill="solid" >
              Editar Producto
            </ion-button>
           </ion-col>

           <ion-col size="12">
            <ion-button *ngIf="estado==='edicion'" size="small" class="btneditarproduct" color="dark" style="color: white !important;" (click)="deleteProduct(product)" expand="block" fill="outline" >
              Eliminar Producto
            </ion-button>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col size="12">
            <ion-button *ngIf="estado==='pedido'" size="small" color="dark" (click)="editarProduct(product)" expand="block" fill="solid" >
              Agregar Producto
            </ion-button>
           </ion-col>
         </ion-row>

         <ion-row>
          <ion-col size="12">
           <ion-button (click)="seleccionarProductoByDeal(product)" *ngIf="estado==='listado'" size="small" color="dark"  expand="block" fill="solid" >
             Seleccionar
           </ion-button>
          </ion-col>
        </ion-row>
       </ion-grid>
     </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

<!-- Skeleton screen -->
<ion-grid fixed *ngIf="products.length == 0">
  <ion-row>
    <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
      <ion-card>

        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>



