
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Puede adjuntar los siguientes side al menu en creacion</ion-card-subtitle>
    <ion-card-title style="color: orange;">Side Orders</ion-card-title>
    <ion-item>
        <ion-label position="floating">Tipos</ion-label>
        <ion-select (ionChange)="tipochange($event)"   placeholder="Seleccione">
          <ion-select-option  *ngFor="let tipo of tipossideorder"   value="{{tipo.id}}">{{tipo.nombre}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let side of sideorders; let i=index">
        <ion-avatar slot="start">
          <img src="../../../../assets/imagenes/notimage.png" />
        </ion-avatar>
        <ion-item slot="end" lines="none">
          <ion-checkbox color="primary" (ionChange)="addSide(side,i, $event)" mode="android"></ion-checkbox>

        </ion-item>
        <ion-label>
            <h2>{{side.nombre}}</h2>
            <h3>{{side.precio}}</h3>
            <p>{{side.caracteristica}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-button *ngIf="sideSeleccionados.length > 0"  (click)="finalizarSeleccion()" color="success" expand="block" fill="solid">
    Finalizar seleccion
  </ion-button>
</ion-card>
