<app-header [titulo]="titulo"></app-header>
<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-text color="warning">
        <h1>Side Orders</h1>
      </ion-text>
    <ion-segment mode="ios" color="dark" value="listado" (ionChange)="segmentChanged($event.target.value)">

        <ion-segment-button  value="listado">
          <ion-label>Listado</ion-label>
          <ion-icon name="list-circle-outline"></ion-icon>
        </ion-segment-button>

        <ion-segment-button  value="nueva">
            <ion-label>Side Order</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>

          <ion-segment-button  value="nuevotipo">
            <ion-label>Nuevo tipo</ion-label>
            <ion-icon name="duplicate-outline"></ion-icon>
          </ion-segment-button>

          <ion-segment-button  value="reporte">
            <ion-label>Reportes</ion-label>
            <ion-icon name="documents-outline"></ion-icon>
          </ion-segment-button>


        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-add-side-order *ngIf="selectedSegment==='nueva'" ></app-add-side-order>
        <app-list-side-order *ngIf="selectedSegment==='listado'" ></app-list-side-order>
        <app-tipo-side-order *ngIf="selectedSegment==='nuevotipo'" ></app-tipo-side-order>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
