ion-card {
  ion-card-title{
    font-family: 'Roboto';
  }

}

ion-item {
  font-size: 10px;
  font-family: 'Roboto';
  ion-label{
    margin-left: 10px;
    color: grey;
    p {
      font-weight: bold;
      color: black;
      font-size: 10px;
    }
  }
}
