<ion-card mode="ios">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center;">
          <img src="../../../../assets/imagenes/fuegopicante-top.png" alt="">
        </div>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-card-title>

     <ion-grid fixed>

       <ion-row>
         <ion-col size="12">
            <div style="text-align: center;">
              <ion-button color="warning" size="small" (click)="dismissModal()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button> # {{pedido.id}}
            </div>
         </ion-col>
       </ion-row>
     </ion-grid>

    </ion-card-title>
  </ion-card-header>
  <ion-card-content style="height: 500px; overflow-y: scroll;">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Detalles Generales</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding-left: 0; left: 0;">
        <ion-grid >
          <ion-row>
            <ion-col size="8">
              <ion-item lines="none">
                <ion-icon color="warning" name="person-outline"></ion-icon>
                <ion-label>Cliente:
                  <p>
                    {{nombrecliente | uppercase}}
                  </p>
                </ion-label>

              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon color="warning" name="cash-outline"></ion-icon>
                <ion-label>Opcion de pago:
                  <p>{{pedido.opcion_pago}}</p>
                </ion-label>

              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon color="warning" name="paper-plane-outline"></ion-icon>
                <ion-label>Direccion de envio:
                  <p>{{pedido.direccion_envio}}</p>
                </ion-label>

              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-item lines="none">
                <ion-icon color="warning" name="notifications-outline"></ion-icon>
                <ion-label>Estado:
                  <p>{{pedido.estado}}</p>
                </ion-label>

              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-grid fixed style="margin-top: 25px;">
      <ion-row style="background-color: rgb(236, 98, 18); color: white; font-weight: bold;">
        <ion-col style="border: solid 1px orangered; text-align: center" size="12">
          Menus and side orders
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item *ngFor="let detalle of detalles" >
            <ion-thumbnail slot="start">
              <img src="{{urlproducts}}{{detalle.image}}">
            </ion-thumbnail>
            <ion-label>
              <h3> {{detalle.nombre}}</h3>
              <h4>Cantidad: {{detalle.cantidad}}</h4>
              <p>{{detalle.comentario}}</p>
            </ion-label>
          </ion-item>

          <ion-list id="skeleton" *ngIf="detalles.length===0" >

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

  <ion-card-content style="height: 200px;">
    <ion-grid fixed>
      <ion-row style="background-color: #AD3A00; color: white; font-weight: bold;">
        <ion-col style=" text-align: center" size="12">
          Total payment
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label>Sub total:</ion-label>
            <ion-input value="{{pedido.total}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Tax:</ion-label>
            <ion-input value="{{pedido.tax}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item  lines="none">
            <ion-label>Total</ion-label>
            <ion-input value="$ {{pedido.total}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
