<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-searchbar placeholder="Buscar side order"  type="text"  [debounce]="250" showCancelButton="always"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let sideorder of sideorders" size-md="6" size-lg="6" size-sm="12" size-xs="12">

      <ion-card style="padding-top: 15px; padding-bottom: 15px;">
        <ion-item lines ="none">
          <ion-thumbnail slot="start">
            <img  src="../../../../assets/imagenes/fuegoicon.jpg">
          </ion-thumbnail>
          <ion-label>
            <h3>{{sideorder.nombre}}</h3>
            <p>{{sideorder.caracteristica}}</p>
            <p><b>$ {{sideorder.precio}}</b></p>
          </ion-label>
        </ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" color="dark" (click)="editarSideOrder(sideorder)" >
              <ion-button size="small" color="dark"  expand="block" fill="solid">
              Editar
            </ion-button></ion-col>
            <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
              <ion-button size="small" color="danger" (click)="deleteSideOrder(sideorder)"  expand="block" fill="outline" >
                Eliminar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>








<ion-grid fixed *ngIf="sideorders.length == 0">
  <ion-row>
    <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col  size-md="6" size-lg="6" size-sm="12" size-xs="12">
      <ion-card>

        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>
