<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Menus</ion-card-subtitle>
    <ion-card-title>Formulario para nuevo menu</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid fixed>
      <form  [formGroup]="frm_add_product" (ngSubmit)="onSubmit()">
        <ion-row>

          <ion-col  size-lg="6" size-md="6" size-sm="12" size-xs="12">
            <ion-item>
              <ion-label position="floating">Tipo de menu:</ion-label>
              <ion-select formControlName="tipo_menu" placeholder="Select One">
                <ion-select-option *ngFor="let tipo of tiposmenu" value="{{tipo.id}}">
                  {{tipo.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position='floating'>Dia para menu:</ion-label>
                <ion-select formControlName="dia">
                  <ion-select-option value="Lunes">Lunes</ion-select-option>
                  <ion-select-option value="Martes">Martes</ion-select-option>
                  <ion-select-option value="Miercoles">Miercoles</ion-select-option>
                  <ion-select-option value="Jueves">Jueves</ion-select-option>
                  <ion-select-option value="Vieres">Viernes</ion-select-option>
                  <ion-select-option value="Sabado">Sabado</ion-select-option>
                  <ion-select-option value="Domingo">Doming</ion-select-option>
                </ion-select>
            </ion-item>
          </ion-col>

        </ion-row>

      <ion-row>
        <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
          <ion-item>
            <ion-label position="floating">Nombre: <ion-text color="danger">*</ion-text></ion-label>
            <ion-input formControlName="nombre" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <ion-item>
            <ion-label position="floating">Precio normal:</ion-label>
            <ion-input  required formControlName="precio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>


        <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
          <ion-item>
            <ion-label position="floating">Categorias:</ion-label>
            <ion-select formControlName="categoria_id" placeholder="Select One">
              <ion-select-option *ngFor="let category of categories" value="{{category.id}}">
                {{category.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Imagen: <ion-text color="danger">*</ion-text></ion-label>
          <ion-input accept="image/x-png,image/gif,image/jpeg" (change)="onChangeInputFile($event)" type="file" formControlName="image" ></ion-input>
        </ion-item>
      </ion-col><ion-col size="12"></ion-col>
      </ion-row>





      <ion-row>
        <ion-col size="12">

          <ion-item>
            <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea formControlName="descripcion" rows="3"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Codigo de barra: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="company" required></ion-input>
            </ion-item>
            <p class="ion-text-center">
              <svg showWhen="!barcode_" id="barcode"></svg>
            </p>
            <ion-button size="small" style="margin-left: 5px;" expand="block" fill="solid" color="tertiary">
              Generar
            </ion-button>
            <ion-button size="small" style="margin-left: 5px;" expand="block" fill="outline" color="secondary">
              Escanear
            </ion-button>
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col size="12"  >
            <ion-item>
              <ion-label>Agregar side orders al menu</ion-label>
              <ion-button size="small" (click)="addSideOrders()" expand="block" fill="solid" color="warning">
               <ion-icon  name="add"></ion-icon>
             </ion-button>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-list>
                <ion-list-header>
                  <ion-chip>
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label><b>{{sideorders.length}}</b> Side Orders seleccionado(s)</ion-label>
                  </ion-chip>
                </ion-list-header>

                <ion-item *ngFor="let side of sideorders; let i = index"  >
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="6">
                        <ion-label>
                          <h2>{{side.nombre}}</h2>
                        </ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button color="danger" size="small" (click)="deleteSide(i)">
                          <ion-icon  name="trash-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
      <ion-row style="margin-top: 25px;">
        <ion-col size="12">
          <ion-button [disabled]="frm_add_product.invalid"   expand="block" type="submit" fill="solid" color="success">
            Guardar producto
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>
  </ion-card-content>
</ion-card>
