<ion-toolbar mode="ios">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-buttons slot="start">
    <ion-menu-button color="warning" menu="menuapp" auto-hide="false"></ion-menu-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon color="warning" size="large" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <div style="text-align: center;">
          <img src="../../../assets/imagenes/log-fuegopicante.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-toolbar>
