
<ion-grid fixed >

  <ion-card>
    <ion-card-header>

      <ion-card-title>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="2">
             <ion-button color="warning" size="small"(click)="cancelaredicion()">
               <ion-icon name="arrow-back-outline"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
             Edicion de menu
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-row>
        <ion-col  size="12" >
            <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top:5px;" *ngIf="prod.image.length > 0"  src="{{urlproducts}}{{prod.image}}" />
            <img style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top:25px;" *ngIf="prod.image.length == 0"  src="./../.././../../assets/imagenes/notimage.png" alt="">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
          <ion-item>
            <ion-label position='floating'>Dia para menu:</ion-label>
              <ion-select formControlName="dia">
                <ion-select-option value="Lunes">Lunes</ion-select-option>
                <ion-select-option value="Martes">Martes</ion-select-option>
                <ion-select-option value="Miercoles">Miercoles</ion-select-option>
                <ion-select-option value="Jueves">Jueves</ion-select-option>
                <ion-select-option value="Vieres">Viernes</ion-select-option>
                <ion-select-option value="Sabado">Sabado</ion-select-option>
                <ion-select-option value="Domingo">Doming</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
          <ion-item>
            <ion-label position="floating">Tipo de menu: <ion-text color="danger">*</ion-text></ion-label>
            <ion-select value="{{prod.tipo_menu}}" id="tipomenu" required>
                <ion-select-option *ngFor="let tipo of tiposmenu" value="{{tipo.id}}">{{tipo.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
          <ion-item>
            <ion-label position="floating">Estado: <ion-text color="danger">*</ion-text></ion-label>
            <ion-select value="{{prod.estado}}" id="estado" required>
                <ion-select-option  value="Disponible">Disponible</ion-select-option>
                <ion-select-option  value="Disponible">No Disponible</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <form *ngIf="frm_edit_product" enctype="multipart/form-data" [formGroup]="frm_edit_product" (ngSubmit)="guardarEdicion()">
        <ion-row>
          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Nombre: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="nombre" required></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Precio normal:</ion-label>
              <ion-input required formControlName="precio"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Precio oferta:</ion-label>
              <ion-input required formControlName="precio_oferta"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size-lg="6"  size-md="6"  size-sm="12"  size-xs="12">
            <ion-item>
              <ion-label position="floating">Categorias </ion-label>
              <ion-select id="categoriaprod" value="{{prod.categoria_id}}"   >

                <ion-select-option   *ngFor="let category of categories" value="{{category.id}}">
                  {{category.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Imagen: <ion-text color="danger">*</ion-text></ion-label>
              <ion-input (change)="onChangeInputFile($event)" type="file" formControlName="image" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">

            <ion-item>
              <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea formControlName="descripcion" rows="3"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Codigo de barra: <ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="company" required></ion-input>
              </ion-item>
              <p class="ion-text-center">
                <svg showWhen="!barcode_" id="barcode"></svg>
              </p>
              <ion-button size="small" style="margin-left: 5px;" expand="block" fill="solid" color="tertiary">
                Generar
              </ion-button>
              <ion-button size="small" style="margin-left: 5px;" expand="block" fill="outline" color="secondary">
                Escanear
              </ion-button>
            </ion-col>
          </ion-row> -->
        <ion-row style="margin-top: 25px;">
          <ion-col size="12">
            <ion-button   expand="block" type="submit" fill="solid" color="success">
              Guardar Edicion
            </ion-button>
          </ion-col>


        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>



</ion-grid>
