<app-header></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12">
        <ion-text color="warning">
          <h1>Deals</h1>
        </ion-text>
        <ion-segment mode="ios" color="dark" value="listado" (ionChange)="segmentChanged($event.target.value)">
          <ion-segment-button  value="listado">
            <ion-label>Historico</ion-label>
            <ion-icon name="list-outline"></ion-icon>
          </ion-segment-button>

          <ion-segment-button  value="nueva">
            <ion-label>Nuevo</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>



          <ion-segment-button  value="reportes">
            <ion-label>Reportes</ion-label>
            <ion-icon name="folder-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-add-deal *ngIf="selectedSegment==='nueva'"></app-add-deal>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
