<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>
      Nuevo Tipo de Side Order
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="frm_tiposideorder" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label size="small" position="floating">Tipo de side order: <ion-text color="danger">*</ion-text></ion-label>
        <ion-input size="small" required formControlName="nombre" type="text"></ion-input>
      </ion-item>


      <ion-button size="small" style="margin-top: 3rem;" block color="success" type="submit" expand="block" fill="solid"  [disabled]="frm_tiposideorder.invalid">
        Guardar
      </ion-button>
    </form>


  </ion-card-content>

  <ion-card-content color="medium" >
    <ion-list *ngIf="tipossideorder.length > 0">
      <ion-list-header>
        Tipos de side order
      </ion-list-header>
      <ion-item>
        <ion-searchbar placeholder="Buscar"  type="text"  [debounce]="250" showCancelButton="always"></ion-searchbar>
      </ion-item>
      <ion-item *ngFor="let tipo of tipossideorder; let i=index">
        <ion-grid fixed>

          <ion-row>
            <ion-col size="6">
              <ion-label style="margin-left: 5px;">
                <h2>{{tipo.nombre}}</h2>
              </ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6">
                    <ion-button (click)="delete(tipo, i)" size="small" color="danger">
                      <ion-icon  name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button size="small" color="primary">
                      <ion-icon  name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>



    <!--SKELETON TEXT PARA LA CARGA DE LA LISTA-->
    <ion-list color="tertiary" *ngIf="tipossideorder.length === 0">
        <ion-list-header>
          <ion-label>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
