<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-searchbar placeholder="Buscar pedido"  type="text" name="text" [(ngModel)]="texto"  [debounce]="250" showCancelButton="always"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" *ngFor="let pedido of pedidos | searchpedido: texto ">
      <ion-card button mode="ios" (click)="detalles(pedido)">


        <ion-card-header style="border-bottom: 1px rgb(216, 213, 213) solid ;">

          <ion-card-title >

            {{pedido.fecha_creacion | date: 'MMMM d, y  h:mm'}}

          </ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-top: 20px;">
          <ion-item>
            <ion-thumbnail slot="end">
              <h2>$ {{pedido.total | number : '1.2-2'}}</h2>
            </ion-thumbnail>
            <ion-label style="color: rgb(150, 9, 9);">
              # {{pedido.id}}
              <p>
                <ion-icon name="person-outline"></ion-icon>
                {{pedido.nombre_cliente | uppercase}} {{pedido.apellido_cliente | uppercase}}

              </p>
              <p style="color: grey;">{{pedido.direccion_envio}}</p>
              <p style="margin-top: 10px;">
                <ion-chip color="success">
                  <ion-label>{{pedido.estado}}</ion-label>
                </ion-chip>
              </p>
            </ion-label>

          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
