
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Menu</ion-card-subtitle>
    <ion-card-title style="color: orange;">Side Orders</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form action="">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label>Categoria</ion-label>
              <ion-select name="tipo" placeholder="" [(ngModel)]="sideOrderDTO.tipo_side_order">
                <ion-select-option  *ngFor="let tipo of tipossideorder" value="{{tipo.id}}">{{tipo.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input name="nombre" [(ngModel)]="sideOrderDTO.nombre" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Caracteristica (Sabor, Tamaño)</ion-label>
              <ion-textarea name="descripcion" rows="4" [(ngModel)]="sideOrderDTO.caracteristica"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Precio $</ion-label>
              <ion-textarea name="descripcion" rows="4" [(ngModel)]="sideOrderDTO.precio"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button  (click)="addItem(sideOrderDTO)" expand="block" fill="solid" color="dark" >
              <ion-icon slot="start" name="add"></ion-icon>
               Agregar Side Order
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" style="font-size: small;">
            <ion-card style="font-size: small;">
              <ion-card-header>
                <ion-card-subtitle>Side Orders Menu</ion-card-subtitle>
                <ion-card-title></ion-card-title>
              </ion-card-header>
             <!--<ion-card-content style="font-size: small;">
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="nombredetalle" [(ngModel)]="sideOrderDetailDTO.nombre" type="text"></ion-input>
                </ion-item>
                <ion-button (click)="addSideOrderDetail(sideOrderDetailDTO)" color="medium" expand="block" fill="solid" shape="round">
                  Agregar sub categoria
                </ion-button>
              </ion-card-content>-->
              <ion-card-content>

                <ion-list>
                  <ion-list-header>
                    List
                  </ion-list-header>


                  <ion-item   *ngFor="let s of itemsList; let i = index;"  >
                    <ion-icon slot="end" name="trash" (click)="deleteTask(i)"></ion-icon>
                    <ion-label>{{s.nombre}}</ion-label>
                    <ion-label>{{s.caracteristica}}</ion-label>
                    <ion-label>{{s.precio}}</ion-label>
                  </ion-item>
                </ion-list>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>



        <ion-row>
          <ion-col size="12">

          </ion-col>
        </ion-row>
      </ion-grid>



    </form>
  </ion-card-content>

</ion-card>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="finalizarSideOrders()" expand="full" fill="solid" color="success">
      Finalizar proceso
    </ion-button>
    <ion-button (click)="cancelarModal()"  expand="block" fill="solid" color="danger" >
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-footer>
